<hr>
<h1 style="text-align: center;"><strong>{{title}}</strong></h1>
<h3 style="text-align: center;"><strong>{{price}}</strong></h1>

<h3 style="text-align: center;"><strong>{{address}}</strong></h3>
<hr>
<p style="text-align: left;">Властивості нерухомості:</p>
<h5 style="text-align: left; font-size: 12px;" >{{properties}}</h5>
<h2 style="text-align: left;">{{description_intro_word}}</h2>
<p style="text-align: left;">{{description}}</p>
<hr>
<h3 style="text-align: center;"><strong> Галерея </strong></h3>

 <div class="row">{{images_block}}</div>